@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

/* Button checked */
.completed{
    margin-right: 32px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.663);
    cursor: pointer;

    transition: all 0.5s;
    font-family: 'Caprasimo', cursive;
}
.completed:hover{
    background-color: rgb(91, 208, 224);
    box-shadow: 1px 1px 20px rgba(0, 255, 255, 0.478);
}
.completed--active{
    background-color: rgb(56, 56, 56);
    color: rgb(152, 152, 152);
}
.completed--active:hover{
    background-color: rgba(56, 56, 56);
    box-shadow: none;
}


.list{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pending{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: white;
    padding: 6px;
    border-radius: 6px;
    font-size: 26px;

    transition: all 0.5s;
}
.pending:hover{
    cursor: pointer;
}
.pending--active{
    text-decoration: line-through;
    background-color: rgba(97, 97, 97, 0.511);
    color: rgb(0, 0, 0);
}
.cancel{
    margin-left: 32px;
    font-size: 26px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(177, 177, 177);
    color: azure;
    border: none;
    cursor: pointer;
    
    transition: all 0.5s;
    font-family: 'Caprasimo', cursive;
}
.cancel:hover{
    background-color: rgba(123, 123, 123, 0.812);
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.392);
}
.cancel--active{
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    color: rgb(156, 156, 156);
}
.cancel--active:hover{
    background-color: rgb(46, 46, 46) ;
    box-shadow: none;
}