@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');



.completed{
    margin-right: 32px;
    font-size: 26px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    border: 1px solid black;
    background-color: rgba(51, 210, 213, 0.822);
    color: white;
    cursor: pointer;

    transition: all 0.5s;
    font-family: 'Caprasimo', cursive;
}
.completed:hover{
    background-color: rgb(127, 255, 227);
}
.completed--active{
    cursor: pointer;
    background-color: rgba(18, 113, 117, 0.854);
    color: rgb(152, 152, 152);
}
.completed--active:hover{
    background-color: rgba(18, 113, 117, 0.854);
}
.list{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pending{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(86, 168, 219);
    border: 1px solid black;
    padding: 6px;
    border-radius: 6px;
    font-size: 26px;

    transition: all 0.5s;
}
.pending:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: rgb(174, 255, 228);
}
.pending--active{
    text-decoration: line-through;
    background-color: rgb(51, 98, 126);
}
.pending--active:hover{
    background-color: rgb(51, 98, 126);
    transform: scale(1);
}
.cancel{
    margin-left: 32px;
    font-size: 26px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    background-color: rgba(136, 42, 42, 0.883);
    color: azure;
    border: 1px solid black;
    cursor: pointer;
    
    transition: all 0.5s;
    font-family: 'Caprasimo', cursive;
}
.cancel:hover{
    background-color: red;
}
.cancel--active{
    background-color: rgb(76, 13, 13);
    cursor: pointer;
    color: rgb(156, 156, 156);
}
.cancel--active:hover{
    background-color: rgb(76, 13, 13);
}